{% extends "base.html" %}
{% block content %}
  <h2>{{ post.title }}</h2>
  <p class="text-muted">By {{ post.user.username or 'Anonymous' }} • {{ post.posted.strftime('%Y-%m-%d %H:%M') }} • {{ post.category }}
     • {% for tag in post.tags %}
          {{ tag.name }}
       {% endfor %}
</p>
  <div class="mb-4">{{ post.content }}</div>
  <a class="btn btn-secondary" href="{{ url_for('posts.update_post', id=post.id) }}">Редагувати</a>
  <a class="btn btn-danger" href="{{ url_for('posts.delete_post', id=post.id) }}">Видалити</a>
  <a class="btn btn-link" href="{{ url_for('posts.list_posts') }}">Повернення</a>
{% endblock %}
