{% extends "base.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
<h1>Контакти</h1>

<form method="post" class="row g-3" novalidate>
  {{ form.csrf_token }}
  <div class="col-md-6">
    {{ render_field(form.name) }}
  </div>
  <div class="col-md-6">
    {{ render_field(form.email) }}
  </div>
  <div class="col-md-6">
    {{ render_field(form.phone) }}
  </div>
  <div class="col-md-6">
    {{ render_field(form.subject) }}
  </div>
  <div class="col-12">
    {{ render_field(form.message) }}
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Відправити</button>
  </div>
</form>
{% endblock %}
